.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
}

.popup__cont{
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    max-width: 1600px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-image: url(./../../image/263703.jpg);
}

.popup__cont-btn{
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 1550px;
    margin-top: 10px;
}

.popup__btn-image{
    max-width: 50px;
    width: 100%;
    height: auto;
}

.popup__cont-text{
    padding-bottom: 60px;
    padding-top: 50px;
    margin-left: 100px;
}

.popup__text-title{
    text-align: center;
    font-size: 60px;
}

.popup__text-form{
    display: block;
    max-width: 300px;
    padding-bottom: 200px;
}

.popup__form-button{
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    transition: color 0.3s, background-color 0.3s;
    background-color: rgb(219, 255, 219);
    margin: 5px 0px;
}

.popup__form-button:hover{
    background-color: black;
    color: white;
}

.popup__place{
    color: black;
    background-color: white;
    border-radius: 20px;
    max-width: 1000px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 400px;
    margin-top: -595px;
}

.popup__place-image{
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.popup__place-par{
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}

/* ----------------------------------------------------popup_1-6 */

.popup-button{
    margin-top: -310px;
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    border-radius: 20px;
    /* position: fixed; */
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    overflow-y: none;
}

.popup-button__cont{
    color: black;
    border-radius: 20px;
    background-color: white;
    max-width: 1000px;
    width: 100%;
    position: relative;
    overflow-y: auto;
}

.popup__cont-close{
    position: absolute;
    margin-left: 0px;
    font-size: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    margin-left: 860px;
    margin-top: 40px;
    transition: 0.5s;
    border-radius: 7px;
}

.popup__cont-close:hover{
    transform: scale(1.02);
    background-color: black;
    color: aliceblue;
}

.left__ident{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ----------------------------------------------------popup-button__2 */

.popup-button__2{
    margin-top: -500px;
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    overflow-y: auto;
}

.left__ident-2{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}

.left__ident-title{
    color: rgb(222, 120, 5);
}

/* //////////////////////////////////////////////////////////////////////////////////////////---popup-pod---*/

.popup-pod{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
}

.popup__place-pod{
    color: black;
    background-color: white;
    border-radius: 20px;
    max-width: 1000px;
    max-height: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
    margin-left: 400px;
    margin-top: -525px;
}


/* @media screen and (max-width: 1024px){
    .popup{
        max-width: 1024px!important;
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .popup__cont{
        max-width: 990px!important;
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .popup__text-title{
        text-align: center!important;
        margin-left: -60px;
    }
}

@media screen and (max-width: 1024px){
    .popup__cont-btn{
        margin-left: 920px;
    }
}

@media screen and (max-width: 1024px){
    .popup__place{
        max-width: 500px!important;
        width: 100%;
        margin-left: 35%;
    }
} */

/* @media screen and (max-width: 1024px){
    .popup-button{
        max-width: 498px!important;
        width: 100%;
        margin-top: -240px;
    }
}

@media screen and (max-width: 1024px){
    .popup-button__cont{
        max-width: 498px!important;
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .popup__cont-close{
        margin-left: 75%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px){
    .popup-button__2{
        max-width: 498px!important;
        width: 100%;
        margin-top: -510px;
    }
} */
/* 
@media screen and (max-width: 1024px){
    .left__ident{
        max-width: 498px!important;
        padding-top: 50px;
    }
}

@media screen and (max-width: 1024px){
    .popup-2{
        max-width: 498px!important;
        width: 100%;
        margin-top: -505px;
    }
}

@media screen and (max-width: 1024px){
    .popup-3{
        max-width: 498px!important;
        width: 100%;
        margin-top: -500px;
    }
} */

/* @media screen and (max-width: 1024px){
    .popup-4{
        max-width: 498px!important;
        width: 100%;
        margin-top: -495px;
    }
}

@media screen and (max-width: 1024px){
    .popup-5{
        max-width: 498px!important;
        width: 100%;
        margin-top: -490px;
    }
}

/* --------------------------------------------------------------------920px */


/* @media screen and (max-width: 920px){
    .popup{
        max-width: 920px!important;
        width: 100%;
    }
}


/* --------------------------------------------------------------------320px */
/* 
@media screen and (max-width: 920px){
    .popup{
        margin-top: 920px!important;
    }
}  */